<nav class="indigo lighten-2">
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons left">menu</i>
                </a>
            </li>
        </ul>
      <span class="brand-logo center">Netaji Subhas Vidyaniketan</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <div class="chip">
                    <img src="/images/logo.png" alt="Contact Person">
                    <span>Admin</span>
                </div>
            </li>
            <li>
                <a class='dropdown-trigger btn' style="background: transparent; box-shadow: none;" href='#' data-target='nav-drop'><i class="material-icons">arrow_drop_down</i></a>
            </li>
        </ul>
        <ul id='nav-drop' class='dropdown-content'>
            <li><a href="">Edit Profile</a></li>
            <li><a href="">Change Password </a></li>
            <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
          </ul>
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">    
    <li>
        <a class="waves-effect waves-light btn-large"><i class="fal fa-2x fa-university white-text"></i>NSV LMS Portal</a>
    </li>
    <li>
        <a href="/admin/dashboard"><i class="fad fa-2x fa-user-shield"></i>Dashboard</a></li>
    <li>
    <li>
        <a href="/admin/students"><i class="fas fa-users-class fa-2x"></i>Students</a></li>
    <li>
    <li>
        <a href="/admin/teachers"><i class="fas fa-chalkboard-teacher fa-2x"></i>Teachers</a></li>
    <li>
    <li>
        <a href="/admin/classes"><i class="fad fa-2x fa-chalkboard"></i>Classes</a></li>
    <li>
    <li>
        <a href="/admin/subjects"><i class="fad fa-books fa-2x"></i>Subjects</a></li>
    <li>
    <li>
        <a href="/admin/exams"><i class="fad fa-calendar-edit fa-2x"></i>Exams</a></li>
    <li>
</ul>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">apps</i>
    </a>
    <ul>
      <li><a class="btn-floating green" href="/admin/student-add"><i class="material-icons">person_add</i></a></li>
      <li><a class="btn-floating blue" href="/admin/class-add"><i class="material-icons">class</i></a></li>
      <li><a class="btn-floating purple" href="/admin/teacher-add"><i class="material-icons">person_pin</i></a></li>
      <li><a class="btn-floating indigo" href="/admin/subject-add"><i class="material-icons">collections_bookmark</i></a></li>
      <li><a class="btn-floating green" href="/admin/exam-add"><i class="material-icons">add_alarm</i></a></li>
    </ul>
</div>